[submodule "components/c2000ware-core-sdk"]
	path = components/c2000ware-core-sdk
	url = https://github.com/TexasInstruments/c2000ware-core-sdk.git
[submodule "components/c2000ware-FreeRTOS"]
	path = components/c2000ware-FreeRTOS
	url = https://github.com/sicrisembay/c2000ware-FreeRTOS.git
	branch = f2833x
[submodule "components/qpc"]
	path = components/qpc
	url = https://github.com/sicrisembay/qpc.git
	branch = c2000_support
[submodule "components/CANopen/CANopenNode"]
	path = components/CANopen/CANopenNode
	url = https://github.com/sicrisembay/CANopenNode.git
	branch = C2000_port
[submodule "components/C2000ware-motor-control-sdk"]
	path = components/C2000ware-motor-control-sdk
	url = https://github.com/sicrisembay/C2000ware-motor-control-sdk.git
